@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3%;
  background: linear-gradient(to right, #cfd9df, #e2ebf0);
  flex-direction: column;
}
body header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5%;
  border-bottom: 1px solid #8f979c;
}
.user-input input {
  padding: 5px 10px;
  border: none;
  transition: all 0.5s ease;
  border-radius: 3px;
  outline: none;
  margin-right: 0;
  height: 1.5rem;
}
.user-input {
  display: flex;
  margin-bottom: 1.5rem;
}
.user-input input:focus {
  border: none;
  outline: none;
}
.user-input button {
  background: #fff;
  border: none;
  font-size: 1rem;
  padding-right: 5px;
  padding-left: 7px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.user-input button:hover {
  color: #fff;
  background-color: #8f979c;
  transform: scale(1.1);
}
.user-input button:focus {
  outline: none;
}
.user-input select {
  border: none;
  border-left: 1px solid #8f979c;
  cursor: pointer;
  transition: all 1s ease;
}
.user-input select:focus {
  outline: none;
}

.user-input button i {
  font-size: 1rem;
}

ul li {
  margin-top: 10px;
  list-style: none;
  min-width: 400px;
  background-color: #8f979c;
  width: 100%;
  display: flex;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
ul li p {
  display: inline-block;
  flex-grow: 1;
  font-size: 1rem;
}
ul li button {
  cursor: pointer;
  background: transparent;
  border: none;
}
ul li button i {
  font-size: 1.3rem;
  padding: 5px 7px;
  color: #fff;
  transition: all 0.5s ease;
  padding-right: 10px;
}
ul li button i:hover {
  color: #8f979c;
  background-color: #fff;
}
.checked {
  text-decoration: line-through;
  opacity: 0.5;
}
.transition {
  transform: translateY(20px) rotateZ(20deg);
  opacity: 0%;
  transition: 0.7s ease;
}
